# Visual Studio
.vs/

# VSCode
.vscode/settings.json
*.lscache

# clangd
.cache/
compile_commands.json
build_database.json

# Soup
/out/

# Wix
wix/

# Antlr
.antlr/

# Avalonia
.avalonia-build-tasks/
